.webcam_feature{
    /* background-color: yellow; */
    position: relative;
     /* height: 100vh; */
}

.webcam__capture{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    color:red;
}